<?xml version="1.0"?>
<faces-config xmlns="http://java.sun.com/xml/ns/javaee"
              xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
              xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-facesconfig_1_2.xsd"
              version="1.2">
    <application>
        <message-bundle>messaggi</message-bundle>
        <locale-config>
            <default-locale>it_IT</default-locale>
            <supported-locale>en_US</supported-locale>
        </locale-config>
    </application>
    
    <!-- FACELETS -->
    <application>
        <view-handler>com.sun.facelets.FaceletViewHandler</view-handler>
    </application>


    <!--             LOGIN                 -->
    <managed-bean>
        <managed-bean-name>utente</managed-bean-name>
        <managed-bean-class>it.unibas.silvio.modello.Utente</managed-bean-class>
        <managed-bean-scope>session</managed-bean-scope>
    </managed-bean>
    <managed-bean>
        <managed-bean-name>vistaLogin</managed-bean-name>
        <managed-bean-class>it.unibas.silvio.web.vista.VistaLogin</managed-bean-class>
        <managed-bean-scope>request</managed-bean-scope>
        <managed-property>
            <property-name>utente</property-name>
            <value>#{utente}</value>
        </managed-property>
        <managed-property>
            <property-name>daoIstanzaOperation</property-name>
            <value>#{daoIstanzaOperation}</value>
        </managed-property>
    </managed-bean>
    <managed-bean>
        <managed-bean-name>controlloLogin</managed-bean-name>
        <managed-bean-class>it.unibas.silvio.web.controllo.ControlloLogin</managed-bean-class>
        <managed-bean-scope>request</managed-bean-scope>
        <managed-property>
            <property-name>vista</property-name>
            <value>#{vistaLogin}</value>
        </managed-property>
        <managed-property>
            <property-name>daoUtente</property-name>
            <value>#{daoUtente}</value>
        </managed-property>
        <managed-property>
            <property-name>utente</property-name>
            <value>#{utente}</value>
        </managed-property>
        <managed-property>
            <property-name>controlloEseguiIstanza</property-name>
            <value>#{controlloEseguiIstanza}</value>
        </managed-property>
    </managed-bean>
    <!--             LOGOUT                 -->
    <!--             CAMBIA PASSWORD                 -->
    <managed-bean>
        <managed-bean-name>vistaCambiaPassword</managed-bean-name>
        <managed-bean-class>it.unibas.silvio.web.vista.VistaCambiaPassword</managed-bean-class>
        <managed-bean-scope>request</managed-bean-scope>
    </managed-bean>
    <managed-bean>
        <managed-bean-name>controlloCambiaPassword</managed-bean-name>
        <managed-bean-class>it.unibas.silvio.web.controllo.ControlloCambiaPassword</managed-bean-class>
        <managed-bean-scope>request</managed-bean-scope>
        <managed-property>
            <property-name>vista</property-name>
            <value>#{vistaCambiaPassword}</value>
        </managed-property>
        <managed-property>
            <property-name>daoUtente</property-name>
            <value>#{daoUtente}</value>
        </managed-property>
        <managed-property>
            <property-name>utente</property-name>
            <value>#{utente}</value>
        </managed-property>
    </managed-bean>
    <!--             GESTIONE DELLA CONFIGURAZIONE                 -->
    <managed-bean>
        <managed-bean-name>vistaGestioneConfigurazione</managed-bean-name>
        <managed-bean-class>it.unibas.silvio.web.vista.VistaGestioneConfigurazione</managed-bean-class>
        <managed-bean-scope>request</managed-bean-scope>
    </managed-bean>
    <managed-bean>
        <managed-bean-name>controlloGestioneConfigurazione</managed-bean-name>
        <managed-bean-class>it.unibas.silvio.web.controllo.ControlloGestioneConfigurazione</managed-bean-class>
        <managed-bean-scope>request</managed-bean-scope>
        <managed-property>
            <property-name>vista</property-name>
            <value>#{vistaGestioneConfigurazione}</value>
        </managed-property>
        <managed-property>
            <property-name>daoConfigurazione</property-name>
            <value>#{daoConfigurazione}</value>
        </managed-property>
    </managed-bean>
    <!--             GESTIONE ACCORDI DI COLLABORAZIONE                 -->
    <managed-bean>
        <managed-bean-name>vistaAccordoCollaborazione</managed-bean-name>
        <managed-bean-class>it.unibas.silvio.web.vista.VistaAccordoCollaborazione</managed-bean-class>
        <managed-bean-scope>request</managed-bean-scope>
    </managed-bean>
    <managed-bean>
        <managed-bean-name>controlloAccordoCollaborazione</managed-bean-name>
        <managed-bean-class>it.unibas.silvio.web.controllo.ControlloAccordoCollaborazione</managed-bean-class>
        <managed-bean-scope>request</managed-bean-scope>
        <managed-property>
            <property-name>vista</property-name>
            <value>#{vistaAccordoCollaborazione}</value>
        </managed-property>
        <managed-property>
            <property-name>daoAccordoDiCollaborazione</property-name>
            <value>#{daoAccordoDiCollaborazione}</value>
        </managed-property>
        <managed-property>
            <property-name>daoConfigurazione</property-name>
            <value>#{daoConfigurazione}</value>
        </managed-property>
    </managed-bean>
    <!--             GESTIONE INSTANZE DEGLI ACCORDI DI COLLABORAZIONE                 -->
    <managed-bean>
        <managed-bean-name>vistaIstanzeAccordi</managed-bean-name>
        <managed-bean-class>it.unibas.silvio.web.vista.VistaIstanzeAccordi</managed-bean-class>
        <managed-bean-scope>request</managed-bean-scope>
    </managed-bean>
    <managed-bean>
        <managed-bean-name>controlloErogatoreIstanzeAccordi</managed-bean-name>
        <managed-bean-class>it.unibas.silvio.web.controllo.ControlloErogatoreIstanzeAccordi</managed-bean-class>
        <managed-bean-scope>request</managed-bean-scope>
        <managed-property>
            <property-name>vista</property-name>
            <value>#{vistaIstanzeAccordi}</value>
        </managed-property>
        <managed-property>
            <property-name>daoAccordoDiCollaborazione</property-name>
            <value>#{daoAccordoDiCollaborazione}</value>
        </managed-property>
        <managed-property>
            <property-name>daoIstanzaAccordoDiCollaborazione</property-name>
            <value>#{daoIstanzaAccordoDiCollaborazione}</value>
        </managed-property>
        <managed-property>
            <property-name>daoConfigurazione</property-name>
            <value>#{daoConfigurazione}</value>
        </managed-property>
        <managed-property>
            <property-name>utente</property-name>
            <value>#{utente}</value>
        </managed-property>
        <managed-property>
            <property-name>controllo</property-name>
            <value>#{controlloIstanzeAccordi}</value>
        </managed-property>
    </managed-bean>
    <managed-bean>
        <managed-bean-name>controlloFruitoreIstanzeAccordi</managed-bean-name>
        <managed-bean-class>it.unibas.silvio.web.controllo.ControlloFruitoreIstanzeAccordi</managed-bean-class>
        <managed-bean-scope>request</managed-bean-scope>
        <managed-property>
            <property-name>vista</property-name>
            <value>#{vistaIstanzeAccordi}</value>
        </managed-property>
        <managed-property>
            <property-name>daoAccordoDiCollaborazione</property-name>
            <value>#{daoAccordoDiCollaborazione}</value>
        </managed-property>
        <managed-property>
            <property-name>daoIstanzaAccordoDiCollaborazione</property-name>
            <value>#{daoIstanzaAccordoDiCollaborazione}</value>
        </managed-property>
        <managed-property>
            <property-name>daoConfigurazione</property-name>
            <value>#{daoConfigurazione}</value>
        </managed-property>
        <managed-property>
            <property-name>utente</property-name>
            <value>#{utente}</value>
        </managed-property>
        <managed-property>
            <property-name>controllo</property-name>
            <value>#{controlloIstanzeAccordi}</value>
        </managed-property>
    </managed-bean>
    <managed-bean>
        <managed-bean-name>controlloIstanzeAccordi</managed-bean-name>
        <managed-bean-class>it.unibas.silvio.web.controllo.ControlloIstanzeAccordi</managed-bean-class>
        <managed-bean-scope>request</managed-bean-scope>
        <managed-property>
            <property-name>vista</property-name>
            <value>#{vistaIstanzeAccordi}</value>
        </managed-property>
        <managed-property>
            <property-name>daoAccordoDiCollaborazione</property-name>
            <value>#{daoAccordoDiCollaborazione}</value>
        </managed-property>
        <managed-property>
            <property-name>daoIstanzaAccordoDiCollaborazione</property-name>
            <value>#{daoIstanzaAccordoDiCollaborazione}</value>
        </managed-property>
        <managed-property>
            <property-name>daoConfigurazione</property-name>
            <value>#{daoConfigurazione}</value>
        </managed-property>
        <managed-property>
            <property-name>utente</property-name>
            <value>#{utente}</value>
        </managed-property>
        <managed-property>
            <property-name>daoIstanzaPortType</property-name>
            <value>#{daoIstanzaPortType}</value>
        </managed-property>
    </managed-bean>
      <!--             ESEGUI INSTANZA                 -->
    <managed-bean>
        <managed-bean-name>vistaEseguiIstanza</managed-bean-name>
        <managed-bean-class>it.unibas.silvio.web.vista.VistaEseguiIstanza</managed-bean-class>
        <managed-bean-scope>session</managed-bean-scope>
    </managed-bean>
    <managed-bean>
        <managed-bean-name>controlloEseguiIstanza</managed-bean-name>
        <managed-bean-class>it.unibas.silvio.web.controllo.ControlloEseguiIstanza</managed-bean-class>
        <managed-bean-scope>request</managed-bean-scope>
        <managed-property>
            <property-name>vista</property-name>
            <value>#{vistaEseguiIstanza}</value>
        </managed-property>
        <managed-property>
            <property-name>daoIstanzaAccordoDiCollaborazione</property-name>
            <value>#{daoIstanzaAccordoDiCollaborazione}</value>
        </managed-property>
        <managed-property>
            <property-name>daoIstanzaOperation</property-name>
            <value>#{daoIstanzaOperation}</value>
        </managed-property>
        <managed-property>
            <property-name>daoConfigurazione</property-name>
            <value>#{daoConfigurazione}</value>
        </managed-property>
        <managed-property>
            <property-name>daoMessaggio</property-name>
            <value>#{daoMessaggio}</value>
        </managed-property>
        <managed-property>
            <property-name>utente</property-name>
            <value>#{utente}</value>
        </managed-property>
    </managed-bean>
	       <!--             ESEGUI INSTANZA TEST                  -->
    <managed-bean>
        <managed-bean-name>vistaEseguiIstanzaTest</managed-bean-name>
        <managed-bean-class>it.unibas.silvio.web.vista.VistaEseguiIstanzaTest</managed-bean-class>
        <managed-bean-scope>request</managed-bean-scope>
    </managed-bean>
    <managed-bean>
        <managed-bean-name>controlloEseguiIstanzaTest</managed-bean-name>
        <managed-bean-class>it.unibas.silvio.web.controllo.ControlloEseguiIstanzaTest</managed-bean-class>
        <managed-bean-scope>request</managed-bean-scope>
        <managed-property>
            <property-name>vista</property-name>
            <value>#{vistaEseguiIstanzaTest}</value>
        </managed-property>
        <managed-property>
            <property-name>daoIstanzaAccordoDiCollaborazione</property-name>
            <value>#{daoIstanzaAccordoDiCollaborazione}</value>
        </managed-property>
        <managed-property>
            <property-name>daoIstanzaOperation</property-name>
            <value>#{daoIstanzaOperation}</value>
        </managed-property>
        <managed-property>
            <property-name>daoConfigurazione</property-name>
            <value>#{daoConfigurazione}</value>
        </managed-property>
        <managed-property>
            <property-name>daoMessaggio</property-name>
            <value>#{daoMessaggio}</value>
        </managed-property>
        <managed-property>
            <property-name>utente</property-name>
            <value>#{utente}</value>
        </managed-property>
    </managed-bean>
          <!--             VISUALIZZA MESSAGGI                 -->
    <managed-bean>
        <managed-bean-name>vistaVisualizzaMessaggi</managed-bean-name>
        <managed-bean-class>it.unibas.silvio.web.vista.VistaVisualizzaMessaggi</managed-bean-class>
        <managed-bean-scope>request</managed-bean-scope>
    </managed-bean>
    <managed-bean>
        <managed-bean-name>controlloVisualizzaMessaggi</managed-bean-name>
        <managed-bean-class>it.unibas.silvio.web.controllo.ControlloVisualizzaMessaggi</managed-bean-class>
        <managed-bean-scope>request</managed-bean-scope>
        <managed-property>
            <property-name>vista</property-name>
            <value>#{vistaVisualizzaMessaggi}</value>
        </managed-property>
        <managed-property>
            <property-name>daoMessaggio</property-name>
            <value>#{daoMessaggio}</value>
        </managed-property>
    </managed-bean>
        <!--             SBLOCCO RICHIESTE ASINCRONE                  -->
    <managed-bean>
        <managed-bean-name>vistaSbloccoAsincrono</managed-bean-name>
        <managed-bean-class>it.unibas.silvio.web.vista.VistaSbloccoAsincrono</managed-bean-class>
        <managed-bean-scope>request</managed-bean-scope>
    </managed-bean>
    <managed-bean>
        <managed-bean-name>controlloSbloccaRichiesteAsincrone</managed-bean-name>
        <managed-bean-class>it.unibas.silvio.web.controllo.ControlloSbloccaRichiesteAsincrone</managed-bean-class>
        <managed-bean-scope>request</managed-bean-scope>
        <managed-property>
            <property-name>vista</property-name>
            <value>#{vistaSbloccoAsincrono}</value>
        </managed-property>
        <managed-property>
            <property-name>daoMessaggioSblocco</property-name>
            <value>#{daoMessaggioSblocco}</value>
        </managed-property>
    </managed-bean>
    
       <!--             ESEGUI INSTANZA TEST                  -->
    <managed-bean>
        <managed-bean-name>vistaEseguiIstanzaTest</managed-bean-name>
        <managed-bean-class>it.unibas.silvio.web.vista.VistaEseguiIstanzaTest</managed-bean-class>
        <managed-bean-scope>request</managed-bean-scope>
    </managed-bean>
    <managed-bean>
        <managed-bean-name>controlloEseguiIstanzaTest</managed-bean-name>
        <managed-bean-class>it.unibas.silvio.web.controllo.ControlloEseguiIstanzaTest</managed-bean-class>
        <managed-bean-scope>request</managed-bean-scope>
        <managed-property>
            <property-name>vista</property-name>
            <value>#{vistaEseguiIstanzaTest}</value>
        </managed-property>
        <managed-property>
            <property-name>daoIstanzaAccordoDiCollaborazione</property-name>
            <value>#{daoIstanzaAccordoDiCollaborazione}</value>
        </managed-property>
        <managed-property>
            <property-name>daoIstanzaOperation</property-name>
            <value>#{daoIstanzaOperation}</value>
        </managed-property>
        <managed-property>
            <property-name>daoConfigurazione</property-name>
            <value>#{daoConfigurazione}</value>
        </managed-property>
        <managed-property>
            <property-name>daoMessaggio</property-name>
            <value>#{daoMessaggio}</value>
        </managed-property>
        <managed-property>
            <property-name>utente</property-name>
            <value>#{utente}</value>
        </managed-property>
    </managed-bean>

    <!--             APP                 -->
    <managed-bean>
        <managed-bean-name>vistaApp</managed-bean-name>
        <managed-bean-class>it.unibas.silvio.web.vista.app.VistaApp</managed-bean-class>
        <managed-bean-scope>session</managed-bean-scope>
    </managed-bean>
    <managed-bean>
        <managed-bean-name>controlloApp</managed-bean-name>
        <managed-bean-class>it.unibas.silvio.web.controllo.app.ControlloApp</managed-bean-class>
        <managed-bean-scope>request</managed-bean-scope>
        <managed-property>
            <property-name>vista</property-name>
            <value>#{vistaApp}</value>
        </managed-property>
        <managed-property>
            <property-name>daoIstanzaAccordoDiCollaborazione</property-name>
            <value>#{daoIstanzaAccordoDiCollaborazione}</value>
        </managed-property>
        <managed-property>
            <property-name>daoIstanzaOperation</property-name>
            <value>#{daoIstanzaOperation}</value>
        </managed-property>
        <managed-property>
            <property-name>daoConfigurazione</property-name>
            <value>#{daoConfigurazione}</value>
        </managed-property>
        <managed-property>
            <property-name>daoMessaggio</property-name>
            <value>#{daoMessaggio}</value>
        </managed-property>
        <managed-property>
            <property-name>utente</property-name>
            <value>#{utente}</value>
        </managed-property>
    </managed-bean>
    
    <!-- DAO PERSISTENZA -->
    <managed-bean>
        <managed-bean-name>daoAccordoDiCollaborazione</managed-bean-name>
        <managed-bean-class>it.unibas.silvio.persistenza.hibernate.DAOAccordoDiCollaborazioneHibernate</managed-bean-class>
        <managed-bean-scope>request</managed-bean-scope>
    </managed-bean>
    <managed-bean>
        <managed-bean-name>daoIstanzaAccordoDiCollaborazione</managed-bean-name>
        <managed-bean-class>it.unibas.silvio.persistenza.hibernate.DAOIstanzaAccordoDiCollaborazioneHibernate</managed-bean-class>
        <managed-bean-scope>request</managed-bean-scope>
    </managed-bean>
    <managed-bean>
        <managed-bean-name>daoConfigurazione</managed-bean-name>
        <managed-bean-class>it.unibas.silvio.persistenza.hibernate.DAOConfigurazioneHibernate</managed-bean-class>
        <managed-bean-scope>request</managed-bean-scope>
    </managed-bean>
    <managed-bean>
        <managed-bean-name>daoUtente</managed-bean-name>
        <managed-bean-class>it.unibas.silvio.persistenza.hibernate.DAOUtenteHibernate</managed-bean-class>
        <managed-bean-scope>request</managed-bean-scope>
    </managed-bean>
    <managed-bean>
        <managed-bean-name>daoIstanzaOperation</managed-bean-name>
        <managed-bean-class>it.unibas.silvio.persistenza.hibernate.DAOIstanzaOperationHibernate</managed-bean-class>
        <managed-bean-scope>request</managed-bean-scope>
    </managed-bean>
    <managed-bean>
        <managed-bean-name>daoIstanzaPortType</managed-bean-name>
        <managed-bean-class>it.unibas.silvio.persistenza.hibernate.DAOIstanzaPortTypeHibernate</managed-bean-class>
        <managed-bean-scope>request</managed-bean-scope>
    </managed-bean>
    <managed-bean>
        <managed-bean-name>daoMessaggio</managed-bean-name>
        <managed-bean-class>it.unibas.silvio.persistenza.hibernate.DAOMessaggioHibernate</managed-bean-class>
        <managed-bean-scope>request</managed-bean-scope>
    </managed-bean>
    <managed-bean>
        <managed-bean-name>daoMessaggioSblocco</managed-bean-name>
        <managed-bean-class>it.unibas.silvio.persistenza.hibernate.DAOMessaggioSbloccoManualeHibernate</managed-bean-class>
        <managed-bean-scope>request</managed-bean-scope>
    </managed-bean>
</faces-config>
