*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
# *.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/freesbeeSP/nbproject/
/freesbeeSP/casiuso/enzo/nofreesbeesp/aciWebService/build/
/freesbeeSP/casiuso/enzo/nofreesbeesp/aciWebService/dist/
/freesbeeSP/casiuso/enzo/nofreesbeesp/clientWSComune2/build/
/freesbeeSP/casiuso/enzo/nofreesbeesp/clientWSComune2/dist/
/freesbeeSP/casiuso/enzo/nofreesbeesp/comuneWSApplication/build/
/freesbeeSP/casiuso/enzo/nofreesbeesp/comuneWSApplication/dist/
/freesbeeSP/varie/sendersaml/build/classes/

/freesbee/build/
/freesbee/nbproject/private
/freesbee/src/conf/freesbee.properties
/freesbee/src/conf/hibernate.properties

dependent.properties
.DS_Store
nbproject.properties
freesbeeWeb/build
freesbeeWeb/nbproject/private
