<?xml version='1.0' encoding='UTF-8' ?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:c="http://java.sun.com/jstl/core"
      xmlns:t="http://myfaces.apache.org/tomahawk"
      xmlns:a4j="http://richfaces.org/a4j"
      xmlns:rich="http://richfaces.org/rich"
      >

    <head>
        <meta name="author" content="Gruppo ICAR icar.unibas@gmail.com" />
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" href="css/cssLayout.css" type="text/css" />
        <link rel="stylesheet" href="css/stile.css" type="text/css"/>
        <title>Regione Sicilia - Protocollo Informatico</title>
    </head>
    <body>
        <div id="top">
			<span class="istanzaAccordoTitle"><img src="images/header.png"/></span>
            <span class="istanzaAccordoTitle">Regione Sicilia</span>
			<span class="istanzaPortTypeTitle">Protocollo Informatico</span>
        </div>
        <div>
            <div id="left">
                <img src="images/left.png"/>
				<img src="images/left1.png"/> 

				</div>
            <div>
                <div id="right">
                <img src="images/right.png"/>
				<img src="images/right1.png"/>
                </div>

				<div class="bloccoUnico">
					<form id="formEseguiIstanza" style="margin:0 auto">
						<div>
							<table id="formEseguiIstanza:listaParametriInterattivi" border="0" cellpadding="0" cellspacing="0" width="400">
								<tr>
									<td>Mittente</td>
									<td style="text-align:center"><input style="width:200px"/></td>
								</tr>
							</table>
						</div>
						<p>
							&nbsp;
						</p>
						<div>
							<table id="formEseguiIstanza:listaParametriInterattivi" border="0" cellpadding="0" cellspacing="0" width="400">
								<tr>
									<th><strong>Parametro</strong></th>
									<th><strong>Valore</strong></th>
								</tr>
								<tr>
									<td>Destinatario</td>
									<td style="text-align:center"><input style="width:200px"/></td>
								</tr>
								<tr>
									<td>Oggetto</td>
									<td style="text-align:center"><input style="width:200px"/></td>
								</tr>
								<tr>
									<td></td>
									<td style="text-align:center"><a href="#"><img src="images/btn_conferma.png"/></a></td>
								</tr>
							</table>
						</div>
					</form>
				</div>

            </div>
        </div>
        <div id="footer">
			<img src="images/footer.png"/>
        </div>
    </body>

</html>
