<?xml version="1.0"?>

<faces-config xmlns="http://java.sun.com/xml/ns/javaee"
              xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
              xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-facesconfig_1_2.xsd"
              version="1.2">
    
    <application>
        <message-bundle>messaggiErrore</message-bundle>
    </application>
    
    <managed-bean>
        <managed-bean-name>utente</managed-bean-name>
        <managed-bean-class>it.unibas.icar.freesbee.modello.Utente</managed-bean-class>
        <managed-bean-scope>session</managed-bean-scope>
    </managed-bean>
    
    <!--             LOGIN                 -->
    <managed-bean>
        <managed-bean-name>vistaLogin</managed-bean-name>
        <managed-bean-class>it.unibas.icar.freesbee.vista.VistaLogin</managed-bean-class>
        <managed-bean-scope>request</managed-bean-scope> 
    </managed-bean>
    <managed-bean>
        <managed-bean-name>controlloLogin</managed-bean-name>
        <managed-bean-class>it.unibas.icar.freesbee.controllo.ControlloLogin</managed-bean-class>
        <managed-bean-scope>request</managed-bean-scope>
        <managed-property>
            <property-name>vista</property-name>
            <value>#{vistaLogin}</value>
        </managed-property>
        <managed-property>
            <property-name>utente</property-name>
            <value>#{utente}</value>
        </managed-property>
        <managed-property>
            <property-name>daoAutenticazione</property-name>
            <value>#{daoAutenticazione}</value>
        </managed-property>
        <managed-property>
            <property-name>daoConfigurazione</property-name>
            <value>#{daoConfigurazione}</value>
        </managed-property>
    </managed-bean>    
    <!--           GESTIONE CAMBIO PASSWORD        -->
    <managed-bean>
        <managed-bean-name>vistaCambiaPassword</managed-bean-name>
        <managed-bean-class>it.unibas.icar.freesbee.vista.VistaCambiaPassword</managed-bean-class>
        <managed-bean-scope>request</managed-bean-scope> 
    </managed-bean>
    <managed-bean>
        <managed-bean-name>controlloCambiaPassword</managed-bean-name>
        <managed-bean-class>it.unibas.icar.freesbee.controllo.ControlloCambiaPassword</managed-bean-class>
        <managed-bean-scope>request</managed-bean-scope>
        <managed-property>
            <property-name>vista</property-name>
            <value>#{vistaCambiaPassword}</value>
        </managed-property>
        <managed-property>
            <property-name>utente</property-name>
            <value>#{utente}</value>
        </managed-property>
        <managed-property>
            <property-name>daoAutenticazione</property-name>
            <value>#{daoAutenticazione}</value>
        </managed-property>
    </managed-bean>
    
    <!--             gestione configurazione                 -->
    <managed-bean>
        <managed-bean-name>vistaGestioneConfigurazione</managed-bean-name>
        <managed-bean-class>it.unibas.icar.freesbee.vista.VistaGestioneConfigurazione</managed-bean-class>
        <managed-bean-scope>request</managed-bean-scope>
    </managed-bean>   
    <managed-bean>
        <managed-bean-name>controlloGestioneConfigurazione</managed-bean-name>
        <managed-bean-class>it.unibas.icar.freesbee.controllo.ControlloGestioneConfigurazione</managed-bean-class>
        <managed-bean-scope>request</managed-bean-scope>
        <managed-property>
            <property-name>vista</property-name>
            <value>#{vistaGestioneConfigurazione}</value>
        </managed-property>
        <managed-property>
            <property-name>daoConfigurazione</property-name>
            <value>#{daoConfigurazione}</value>
        </managed-property>
        <managed-property>
            <property-name>daoSoggetto</property-name>
            <value>#{daoSoggetto}</value>
        </managed-property>
        <managed-property>
            <property-name>utente</property-name>
            <value>#{utente}</value>
        </managed-property>
    </managed-bean>
    
    <!--             gestione soggetti                 -->
    <managed-bean>
        <managed-bean-name>vistaGestioneSoggetti</managed-bean-name>
        <managed-bean-class>it.unibas.icar.freesbee.vista.VistaGestioneSoggetti</managed-bean-class>
        <managed-bean-scope>request</managed-bean-scope>
    </managed-bean>   
    <managed-bean>
        <managed-bean-name>controlloGestioneSoggetti</managed-bean-name>
        <managed-bean-class>it.unibas.icar.freesbee.controllo.ControlloGestioneSoggetti</managed-bean-class>
        <managed-bean-scope>request</managed-bean-scope>
        <managed-property>
            <property-name>vista</property-name>
            <value>#{vistaGestioneSoggetti}</value>
        </managed-property>
        <managed-property>
            <property-name>daoSoggetto</property-name>
            <value>#{daoSoggetto}</value>
        </managed-property>
        <managed-property>
            <property-name>daoPortaDelegata</property-name>
            <value>#{daoPortaDelegata}</value>
        </managed-property>
        <managed-property>
            <property-name>utente</property-name>
            <value>#{utente}</value>
        </managed-property>
    </managed-bean>
    
    <!--             gestione porte delegate                 -->
    <managed-bean>
        <managed-bean-name>vistaGestionePorteDelegate</managed-bean-name>
        <managed-bean-class>it.unibas.icar.freesbee.vista.VistaGestionePorteDelegate</managed-bean-class>
        <managed-bean-scope>request</managed-bean-scope>
        <managed-property>
            <property-name>daoSoggetto</property-name>
            <value>#{daoSoggetto}</value>
        </managed-property>
        
    </managed-bean>   
    <managed-bean>
        <managed-bean-name>controlloGestionePorteDelegate</managed-bean-name>
        <managed-bean-class>it.unibas.icar.freesbee.controllo.ControlloGestionePorteDelegate</managed-bean-class>
        <managed-bean-scope>request</managed-bean-scope>
        <managed-property>
            <property-name>vista</property-name>
            <value>#{vistaGestionePorteDelegate}</value>
        </managed-property>
        <managed-property>
            <property-name>daoPortaDelegata</property-name>
            <value>#{daoPortaDelegata}</value>
        </managed-property>
        <managed-property>
            <property-name>daoSoggetto</property-name>
            <value>#{daoSoggetto}</value>
        </managed-property>
        <managed-property>
            <property-name>daoAzione</property-name>
            <value>#{daoAzione}</value>
        </managed-property>
        <managed-property>
            <property-name>daoServizio</property-name>
            <value>#{daoServizio}</value>
        </managed-property>
        <managed-property>
            <property-name>utente</property-name>
            <value>#{utente}</value>
        </managed-property>
        <managed-property>
            <property-name>daoConfigurazione</property-name>
            <value>#{daoConfigurazione}</value>
        </managed-property>
    </managed-bean>
    
    <!--             gestione porte applicative                 -->
    <managed-bean>
        <managed-bean-name>vistaGestionePorteApplicative</managed-bean-name>
        <managed-bean-class>it.unibas.icar.freesbee.vista.VistaGestionePorteApplicative</managed-bean-class>
        <managed-bean-scope>request</managed-bean-scope>
    </managed-bean>   
    <managed-bean>
        <managed-bean-name>controlloGestionePorteApplicative</managed-bean-name>
        <managed-bean-class>it.unibas.icar.freesbee.controllo.ControlloGestionePorteApplicative</managed-bean-class>
        <managed-bean-scope>request</managed-bean-scope>
        <managed-property>
            <property-name>vista</property-name>
            <value>#{vistaGestionePorteApplicative}</value>
        </managed-property>
        <managed-property>
            <property-name>daoPortaApplicativa</property-name>
            <value>#{daoPortaApplicativa}</value>
        </managed-property>
        <managed-property>
            <property-name>daoAzione</property-name>
            <value>#{daoAzione}</value>
        </managed-property>
        <managed-property>
            <property-name>daoServizio</property-name>
            <value>#{daoServizio}</value>
        </managed-property>
        <managed-property>
            <property-name>daoServizioApplicativo</property-name>
            <value>#{daoServizioApplicativo}</value>
        </managed-property>
        <managed-property>
            <property-name>utente</property-name>
            <value>#{utente}</value>
        </managed-property>
        <managed-property>
            <property-name>daoConfigurazione</property-name>
            <value>#{daoConfigurazione}</value>
        </managed-property>
    </managed-bean>
    
    <!--             gestione accordi servizio                 -->
    <managed-bean>
        <managed-bean-name>vistaGestioneAccordiServizio</managed-bean-name>
        <managed-bean-class>it.unibas.icar.freesbee.vista.VistaGestioneAccordiServizio</managed-bean-class>
        <managed-bean-scope>request</managed-bean-scope>
    </managed-bean>   
    <managed-bean>
        <managed-bean-name>controlloGestioneAccordiServizio</managed-bean-name>
        <managed-bean-class>it.unibas.icar.freesbee.controllo.ControlloGestioneAccordiServizio</managed-bean-class>
        <managed-bean-scope>request</managed-bean-scope>
        <managed-property>
            <property-name>vista</property-name>
            <value>#{vistaGestioneAccordiServizio}</value>
        </managed-property>
        <managed-property>
            <property-name>daoAccordoServizio</property-name>
            <value>#{daoAccordoServizio}</value>
        </managed-property>
        <managed-property>
            <property-name>daoProfiloEGov</property-name>
            <value>#{daoProfiloEGov}</value>
        </managed-property>
        <managed-property>
            <property-name>daoAzione</property-name>
            <value>#{daoAzione}</value>
        </managed-property>
        <managed-property>
            <property-name>utente</property-name>
            <value>#{utente}</value>
        </managed-property>
        <managed-property>
            <property-name>daoConfigurazione</property-name>
            <value>#{daoConfigurazione}</value>
        </managed-property>
    </managed-bean>
    
    <!--             gestione servizi                 -->
    <managed-bean>
        <managed-bean-name>vistaGestioneServizi</managed-bean-name>
        <managed-bean-class>it.unibas.icar.freesbee.vista.VistaGestioneServizi</managed-bean-class>
        <managed-bean-scope>request</managed-bean-scope>
        <managed-property>
            <property-name>daoSoggetto</property-name>
            <value>#{daoSoggetto}</value>
        </managed-property>
        <managed-property>
            <property-name>daoAccordoServizio</property-name>
            <value>#{daoAccordoServizio}</value>
        </managed-property>
        <managed-property>
            <property-name>utente</property-name>
            <value>#{utente}</value>
        </managed-property>
    </managed-bean>   
    <managed-bean>
        <managed-bean-name>controlloGestioneServizi</managed-bean-name>
        <managed-bean-class>it.unibas.icar.freesbee.controllo.ControlloGestioneServizi</managed-bean-class>
        <managed-bean-scope>request</managed-bean-scope>
        <managed-property>
            <property-name>vista</property-name>
            <value>#{vistaGestioneServizi}</value>
        </managed-property>
        <managed-property>
            <property-name>daoServizio</property-name>
            <value>#{daoServizio}</value>
        </managed-property>
        <managed-property>
            <property-name>daoSoggetto</property-name>
            <value>#{daoSoggetto}</value>
        </managed-property>
        <managed-property>
            <property-name>daoAccordoServizio</property-name>
            <value>#{daoAccordoServizio}</value>
        </managed-property>
        <managed-property>
            <property-name>utente</property-name>
            <value>#{utente}</value>
        </managed-property>
        <managed-property>
            <property-name>daoConfigurazione</property-name>
            <value>#{daoConfigurazione}</value>
        </managed-property>
    </managed-bean>
    
    <!--             gestione servizi applicativi                -->
    <managed-bean>
        <managed-bean-name>vistaGestioneServiziApplicativi</managed-bean-name>
        <managed-bean-class>it.unibas.icar.freesbee.vista.VistaGestioneServiziApplicativi</managed-bean-class>
        <managed-bean-scope>request</managed-bean-scope>
        <managed-property>
            <property-name>daoServizioApplicativo</property-name>
            <value>#{daoServizioApplicativo}</value>
        </managed-property>
    </managed-bean>   
    <managed-bean>
        <managed-bean-name>controlloGestioneServiziApplicativi</managed-bean-name>
        <managed-bean-class>it.unibas.icar.freesbee.controllo.ControlloGestioneServiziApplicativi</managed-bean-class>
        <managed-bean-scope>request</managed-bean-scope>
        <managed-property>
            <property-name>vista</property-name>
            <value>#{vistaGestioneServiziApplicativi}</value>
        </managed-property>
        <managed-property>
            <property-name>daoServizioApplicativo</property-name>
            <value>#{daoServizioApplicativo}</value>
        </managed-property>
        <managed-property>
            <property-name>utente</property-name>
            <value>#{utente}</value>
        </managed-property>
    </managed-bean>
    
    <!--                    persistenza                     -->
    <managed-bean>
        <managed-bean-name>daoConfigurazione</managed-bean-name>
        <managed-bean-class>it.unibas.icar.freesbee.persistenza.soap.DAOConfigurazioneSOAP</managed-bean-class>
        <managed-bean-scope>application</managed-bean-scope>
        <managed-property>
            <property-name>daoSoggetto</property-name>
            <value>#{daoSoggetto}</value>
        </managed-property>   
    </managed-bean>
    <managed-bean>
        <managed-bean-name>daoAutenticazione</managed-bean-name>
        <managed-bean-class>it.unibas.icar.freesbee.persistenza.soap.DAOAutenticazioneSOAP</managed-bean-class>
        <managed-bean-scope>application</managed-bean-scope>
    </managed-bean>
    
    <managed-bean>
        <managed-bean-name>daoSoggetto</managed-bean-name>
        <managed-bean-class>it.unibas.icar.freesbee.persistenza.soap.DAOSoggettoSOAP</managed-bean-class>
        <managed-bean-scope>application</managed-bean-scope>
    </managed-bean>    
    
    <managed-bean>
        <managed-bean-name>daoPortaDelegata</managed-bean-name>
        <managed-bean-class>it.unibas.icar.freesbee.persistenza.soap.DAOPortaDelegataSOAP</managed-bean-class>
        <managed-bean-scope>application</managed-bean-scope>
        <managed-property>
            <property-name>daoAzione</property-name>
            <value>#{daoAzione}</value>
        </managed-property>        
        <managed-property>
            <property-name>daoServizio</property-name>
            <value>#{daoServizio}</value>
        </managed-property>        
        <managed-property>
            <property-name>daoSoggetto</property-name>
            <value>#{daoSoggetto}</value>
        </managed-property>
    </managed-bean>
    
    <managed-bean>
        <managed-bean-name>daoPortaApplicativa</managed-bean-name>
        <managed-bean-class>it.unibas.icar.freesbee.persistenza.soap.DAOPortaApplicativaSOAP</managed-bean-class>
        <managed-bean-scope>application</managed-bean-scope>
        <managed-property>
            <property-name>daoAzione</property-name>
            <value>#{daoAzione}</value>
        </managed-property>        
        <managed-property>
            <property-name>daoServizio</property-name>
            <value>#{daoServizio}</value>
        </managed-property>        
        <managed-property>
            <property-name>daoServizioApplicativo</property-name>
            <value>#{daoServizioApplicativo}</value>
        </managed-property>
    </managed-bean>
    
    <managed-bean>
        <managed-bean-name>daoServizio</managed-bean-name>
        <managed-bean-class>it.unibas.icar.freesbee.persistenza.soap.DAOServizioSOAP</managed-bean-class>
        <managed-bean-scope>application</managed-bean-scope>
        <managed-property>
            <property-name>daoAccordoServizio</property-name>
            <value>#{daoAccordoServizioServizi}</value>
        </managed-property>        
        <managed-property>
            <property-name>daoSoggetto</property-name>
            <value>#{daoSoggetto}</value>
        </managed-property>   
    </managed-bean>
    
    <managed-bean>
        <managed-bean-name>daoServizioApplicativo</managed-bean-name>
        <managed-bean-class>it.unibas.icar.freesbee.persistenza.soap.DAOServizioApplicativoSOAP</managed-bean-class>
        <managed-bean-scope>application</managed-bean-scope>
    </managed-bean>
    
    <managed-bean>
        <managed-bean-name>daoServizioAccordo</managed-bean-name>
        <managed-bean-class>it.unibas.icar.freesbee.persistenza.soap.DAOServizioAccordoSOAP</managed-bean-class>
        <managed-bean-scope>application</managed-bean-scope>     
        <managed-property>
            <property-name>daoSoggetto</property-name>
            <value>#{daoSoggetto}</value>
        </managed-property>   
    </managed-bean>
    
    <!--managed-bean>
        <managed-bean-name>daoServizio</managed-bean-name>
        <managed-bean-class>it.unibas.icar.freesbee.persistenza.hibernate.DAOServizioHibernate</managed-bean-class>
        <managed-bean-scope>application</managed-bean-scope>
    </managed-bean-->
    
    <managed-bean>
        <managed-bean-name>daoAccordoServizio</managed-bean-name>
        <managed-bean-class>it.unibas.icar.freesbee.persistenza.soap.DAOAccordoServizioSOAP</managed-bean-class>
        <managed-bean-scope>application</managed-bean-scope>
        <managed-property>
            <property-name>daoProfiloEGov</property-name>
            <value>#{daoProfiloEGov}</value>
        </managed-property>
        <managed-property>
            <property-name>daoServizio</property-name>
            <value>#{daoServizioAccordo}</value>
        </managed-property>
        <managed-property>
            <property-name>daoAzione</property-name>
            <value>#{daoAzione}</value>
        </managed-property>
    </managed-bean>
    
    <managed-bean>
        <managed-bean-name>daoAccordoServizioServizi</managed-bean-name>
        <managed-bean-class>it.unibas.icar.freesbee.persistenza.soap.DAOAccordoServizioServiziSOAP</managed-bean-class>
        <managed-bean-scope>application</managed-bean-scope>
        <managed-property>
            <property-name>daoProfiloEGov</property-name>
            <value>#{daoProfiloEGov}</value>
        </managed-property>
    </managed-bean>
    
    <managed-bean>
        <managed-bean-name>daoAzione</managed-bean-name>
        <managed-bean-class>it.unibas.icar.freesbee.persistenza.soap.DAOAzioneSOAP</managed-bean-class>
        <managed-bean-scope>application</managed-bean-scope>
        <managed-property>
            <property-name>daoAccordoServizio</property-name>
            <value>#{daoAccordoServizioServizi}</value>
        </managed-property>        
        <managed-property>
            <property-name>daoProfiloEGov</property-name>
            <value>#{daoProfiloEGov}</value>
        </managed-property>
    </managed-bean>
    
    <managed-bean>
        <managed-bean-name>daoProfiloEGov</managed-bean-name>
        <managed-bean-class>it.unibas.icar.freesbee.persistenza.soap.DAOProfiloEGovSOAP</managed-bean-class>
        <managed-bean-scope>application</managed-bean-scope>
    </managed-bean>
    
    <!--
    <lifecycle>
        <phase-listener>it.unibas.acijsfhibernate.controllo.PhaseListener</phase-listener>
    </lifecycle>
    -->
    
</faces-config>
