<?xml version="1.0"?>
<faces-config xmlns="http://java.sun.com/xml/ns/javaee"
              xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
              xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-facesconfig_1_2.xsd"
              version="1.2">
    <application>
        <message-bundle>messaggiErrore</message-bundle>
    </application>
    <managed-bean>
        <managed-bean-name>utente</managed-bean-name>
        <managed-bean-class>it.unibas.freesbee.websla.modello.Utente</managed-bean-class>
        <managed-bean-scope>session</managed-bean-scope>
    </managed-bean>
    <managed-bean>
        <managed-bean-name>datiConfigurazione</managed-bean-name>
        <managed-bean-class>it.unibas.freesbee.websla.ws.web.stub.DatiConfigurazione</managed-bean-class>
        <managed-bean-scope>session</managed-bean-scope>
    </managed-bean>
     
    
    <!--             LOGIN                 -->
    <managed-bean>
        <managed-bean-name>vistaLogin</managed-bean-name>
        <managed-bean-class>it.unibas.freesbee.websla.vista.VistaLogin</managed-bean-class>
        <managed-bean-scope>request</managed-bean-scope>
    </managed-bean>
    <managed-bean>
        <managed-bean-name>controlloLogin</managed-bean-name>
        <managed-bean-class>it.unibas.freesbee.websla.controllo.ControlloLogin</managed-bean-class>
        <managed-bean-scope>request</managed-bean-scope>
        <managed-property>
            <property-name>vista</property-name>
            <value>#{vistaLogin}</value>
        </managed-property>
        <managed-property>
            <property-name>utente</property-name>
            <value>#{utente}</value>
        </managed-property>
        <managed-property>
            <property-name>daoAutenticazione</property-name>
            <value>#{daoAutenticazione}</value>
        </managed-property>
        <managed-property>
            <property-name>daoConfigurazione</property-name>
            <value>#{daoConfigurazione}</value>
        </managed-property>
    </managed-bean>
    

       <!--             AQUISIZIONE PORTAFOGLIO                 -->
    <managed-bean>
        <managed-bean-name>vistaAcquisizionePortafoglio</managed-bean-name>
        <managed-bean-class>it.unibas.freesbee.websla.vista.VistaAcquisizionePortafoglio</managed-bean-class>
        <managed-bean-scope>request</managed-bean-scope>
    </managed-bean>
    <managed-bean>
        <managed-bean-name>controlloAcquisizionePortafoglio</managed-bean-name>
        <managed-bean-class>it.unibas.freesbee.websla.controllo.ControlloAcquisizionePortafoglio</managed-bean-class>
        <managed-bean-scope>request</managed-bean-scope>
        <managed-property>
            <property-name>vista</property-name>
            <value>#{vistaAcquisizionePortafoglio}</value>
        </managed-property>
    </managed-bean>

    <!--           GESTIONE CAMBIO PASSWORD        -->
    <managed-bean>
        <managed-bean-name>vistaCambiaPassword</managed-bean-name>
        <managed-bean-class>it.unibas.freesbee.websla.vista.VistaCambiaPassword</managed-bean-class>
        <managed-bean-scope>request</managed-bean-scope>
    </managed-bean>
    <managed-bean>
        <managed-bean-name>controlloCambiaPassword</managed-bean-name>
        <managed-bean-class>it.unibas.freesbee.websla.controllo.ControlloCambiaPassword</managed-bean-class>
        <managed-bean-scope>request</managed-bean-scope>
        <managed-property>
            <property-name>vista</property-name>
            <value>#{vistaCambiaPassword}</value>
        </managed-property>
        <managed-property>
            <property-name>utente</property-name>
            <value>#{utente}</value>
        </managed-property>
        <managed-property>
            <property-name>daoAutenticazione</property-name>
            <value>#{daoAutenticazione}</value>
        </managed-property>
        <managed-property>
            <property-name>utente</property-name>
            <value>#{utente}</value>
        </managed-property>
    </managed-bean>
    
    <!--            GESTIONE SOGGETTI             -->
    <managed-bean>
        <managed-bean-name>vistaGestioneSoggetti</managed-bean-name>
        <managed-bean-class>it.unibas.freesbee.websla.vista.VistaGestioneSoggetti</managed-bean-class>
        <managed-bean-scope>request</managed-bean-scope>
    </managed-bean>
    <managed-bean>
        <managed-bean-name>controlloGestioneSoggetti</managed-bean-name>
        <managed-bean-class>it.unibas.freesbee.websla.controllo.ControlloGestioneSoggetti</managed-bean-class>
        <managed-bean-scope>request</managed-bean-scope>
        <managed-property>
            <property-name>vista</property-name>
            <value>#{vistaGestioneSoggetti}</value>
        </managed-property>
        <managed-property>
            <property-name>daoSoggetto</property-name>
            <value>#{daoSoggetto}</value>
        </managed-property>
        <managed-property>
            <property-name>utente</property-name>
            <value>#{utente}</value>
        </managed-property>
    </managed-bean>
    
    <!--            GESTIONE SERVIZI                -->
    <managed-bean>
        <managed-bean-name>vistaGestioneServizi</managed-bean-name>
        <managed-bean-class>it.unibas.freesbee.websla.vista.VistaGestioneServizi</managed-bean-class>
        <managed-bean-scope>request</managed-bean-scope>
    </managed-bean>
    <managed-bean>
        <managed-bean-name>controlloGestioneServizi</managed-bean-name>
        <managed-bean-class>it.unibas.freesbee.websla.controllo.ControlloGestioneServizi</managed-bean-class>
        <managed-bean-scope>request</managed-bean-scope>
        <managed-property>
            <property-name>vista</property-name>
            <value>#{vistaGestioneServizi}</value>
        </managed-property>
        <managed-property>
            <property-name>daoServizio</property-name>
            <value>#{daoServizio}</value>
        </managed-property>
        <managed-property>
            <property-name>utente</property-name>
            <value>#{utente}</value>
        </managed-property>
    </managed-bean>
    
    <!--            MONITORAGGIO SLA EROGATI              -->
    <managed-bean>
        <managed-bean-name>vistaMonitoraggioSLAServiziErogati</managed-bean-name>
        <managed-bean-class>it.unibas.freesbee.websla.vista.VistaMonitoraggioSLAServiziErogati</managed-bean-class>
        <managed-bean-scope>session</managed-bean-scope>
    </managed-bean>
    <managed-bean>
        <managed-bean-name>controlloMonitoraggioSLAServiziErogati</managed-bean-name>
        <managed-bean-class>it.unibas.freesbee.websla.controllo.ControlloMonitoraggioSLAServiziErogati</managed-bean-class>
        <managed-bean-scope>session</managed-bean-scope>
        <managed-property>
            <property-name>vista</property-name>
            <value>#{vistaMonitoraggioSLAServiziErogati}</value>
        </managed-property>
        <managed-property>
            <property-name>daoServizio</property-name>
            <value>#{daoServizio}</value>
        </managed-property>
        <managed-property>
            <property-name>daoMonitoraggio</property-name>
            <value>#{daoMonitoraggio}</value>
        </managed-property>
        <managed-property>
            <property-name>utente</property-name>
            <value>#{utente}</value>
        </managed-property>
    </managed-bean>
    
    <!--            STATISTICHE SLA EROGATI             -->
    <managed-bean>
        <managed-bean-name>vistaStatisticheSLAErogati</managed-bean-name>
        <managed-bean-class>it.unibas.freesbee.websla.vista.VistaStatisticheSLAErogati</managed-bean-class>
        <managed-bean-scope>request</managed-bean-scope>
    </managed-bean>
    <managed-bean>
        <managed-bean-name>controlloStatisticheSLAErogati</managed-bean-name>
        <managed-bean-class>it.unibas.freesbee.websla.controllo.ControlloStatisticheSLAErogati</managed-bean-class>
        <managed-bean-scope>request</managed-bean-scope>
        <managed-property>
            <property-name>vista</property-name>
            <value>#{vistaStatisticheSLAErogati}</value>
        </managed-property>
        <managed-property>
            <property-name>daoServizio</property-name>
            <value>#{daoServizio}</value>
        </managed-property>
        <managed-property>
            <property-name>daoStatistiche</property-name>
            <value>#{daoStatistiche}</value>
        </managed-property>
        <managed-property>
            <property-name>utente</property-name>
            <value>#{utente}</value>
        </managed-property>
    </managed-bean>

    
    <!--            MONITORAGGIO STATO SERVIZI EROGATI               -->
    <managed-bean>
        <managed-bean-name>vistaMonitoraggioStatoServiziErogati</managed-bean-name>
        <managed-bean-class>it.unibas.freesbee.websla.vista.VistaMonitoraggioStatoServiziErogati</managed-bean-class>
        <managed-bean-scope>session</managed-bean-scope>
    </managed-bean>
    <managed-bean>
        <managed-bean-name>controlloMonitoraggioStatoServiziErogati</managed-bean-name>
        <managed-bean-class>it.unibas.freesbee.websla.controllo.ControlloMonitoraggioStatoServiziErogati</managed-bean-class>
        <managed-bean-scope>session</managed-bean-scope>
        <managed-property>
            <property-name>vista</property-name>
            <value>#{vistaMonitoraggioStatoServiziErogati}</value>
        </managed-property>
        <managed-property>
            <property-name>daoServizio</property-name>
            <value>#{daoServizio}</value>
        </managed-property>
        <managed-property>
            <property-name>daoMonitoraggio</property-name>
            <value>#{daoMonitoraggio}</value>
        </managed-property>
        <managed-property>
            <property-name>utente</property-name>
            <value>#{utente}</value>
        </managed-property>
    </managed-bean>
    
       <!--            MONITORAGGIO STATO SERVIZI FRUITI               -->
    <managed-bean>
        <managed-bean-name>vistaMonitoraggioStatoServiziFruiti</managed-bean-name>
        <managed-bean-class>it.unibas.freesbee.websla.vista.VistaMonitoraggioStatoServiziFruiti</managed-bean-class>
        <managed-bean-scope>session</managed-bean-scope>
    </managed-bean>
    <managed-bean>
        <managed-bean-name>controlloMonitoraggioStatoServiziFruiti</managed-bean-name>
        <managed-bean-class>it.unibas.freesbee.websla.controllo.ControlloMonitoraggioStatoServiziFruiti</managed-bean-class>
        <managed-bean-scope>session</managed-bean-scope>
        <managed-property>
            <property-name>vista</property-name>
            <value>#{vistaMonitoraggioStatoServiziFruiti}</value>
        </managed-property>
        <managed-property>
            <property-name>daoServizio</property-name>
            <value>#{daoServizio}</value>
        </managed-property>
        <managed-property>
            <property-name>daoMonitoraggio</property-name>
            <value>#{daoMonitoraggio}</value>
        </managed-property>
        <managed-property>
            <property-name>daoSoggetto</property-name>
            <value>#{daoSoggetto}</value>
        </managed-property>
        <managed-property>
            <property-name>utente</property-name>
            <value>#{utente}</value>
        </managed-property>
    </managed-bean>
    
    <!--            MONITORAGGIO SLA FRUITI              -->
    <managed-bean>
        <managed-bean-name>vistaMonitoraggioSLAServiziFruiti</managed-bean-name>
        <managed-bean-class>it.unibas.freesbee.websla.vista.VistaMonitoraggioSLAServiziFruiti</managed-bean-class>
        <managed-bean-scope>session</managed-bean-scope>
    </managed-bean>
    <managed-bean>
        <managed-bean-name>controlloMonitoraggioSLAServiziFruiti</managed-bean-name>
        <managed-bean-class>it.unibas.freesbee.websla.controllo.ControlloMonitoraggioSLAServiziFruiti</managed-bean-class>
        <managed-bean-scope>session</managed-bean-scope>
        <managed-property>
            <property-name>vista</property-name>
            <value>#{vistaMonitoraggioSLAServiziFruiti}</value>
        </managed-property>
        <managed-property>
            <property-name>daoServizio</property-name>
            <value>#{daoServizio}</value>
        </managed-property>
        <managed-property>
            <property-name>daoMonitoraggio</property-name>
            <value>#{daoMonitoraggio}</value>
        </managed-property>
        <managed-property>
            <property-name>daoSoggetto</property-name>
            <value>#{daoSoggetto}</value>
        </managed-property>
        <managed-property>
            <property-name>utente</property-name>
            <value>#{utente}</value>
        </managed-property>
    </managed-bean>

      <!--            CONFIGURAZIONE          -->
    <managed-bean>
        <managed-bean-name>vistaConfigurazione</managed-bean-name>
        <managed-bean-class>it.unibas.freesbee.websla.vista.VistaConfigurazione</managed-bean-class>
        <managed-bean-scope>session</managed-bean-scope>
    </managed-bean>
    <managed-bean>
        <managed-bean-name>controlloConfigurazione</managed-bean-name>
        <managed-bean-class>it.unibas.freesbee.websla.controllo.ControlloConfigurazione</managed-bean-class>
        <managed-bean-scope>session</managed-bean-scope>
        <managed-property>
            <property-name>vista</property-name>
            <value>#{vistaConfigurazione}</value>
        </managed-property>
        <managed-property>
            <property-name>datiConfigurazione</property-name>
            <value>#{datiConfigurazione}</value>
        </managed-property>
         <managed-property>
            <property-name>daoConfigurazione</property-name>
            <value>#{daoConfigurazione}</value>
        </managed-property>
        <managed-property>
            <property-name>utente</property-name>
            <value>#{utente}</value>
        </managed-property>
    </managed-bean>

     <!--            CONFIGURAZIONE   SP       -->
    <managed-bean>
        <managed-bean-name>vistaConfigurazioneSP</managed-bean-name>
        <managed-bean-class>it.unibas.freesbee.websla.vista.VistaConfigurazioneSP</managed-bean-class>
        <managed-bean-scope>session</managed-bean-scope>
    </managed-bean>
    <managed-bean>
        <managed-bean-name>controlloConfigurazioneSP</managed-bean-name>
        <managed-bean-class>it.unibas.freesbee.websla.controllo.ControlloConfigurazioneSP</managed-bean-class>
        <managed-bean-scope>session</managed-bean-scope>
        <managed-property>
            <property-name>vista</property-name>
            <value>#{vistaConfigurazioneSP}</value>
        </managed-property>
        <managed-property>
            <property-name>datiConfigurazione</property-name>
            <value>#{datiConfigurazione}</value>
        </managed-property>
         <managed-property>
            <property-name>daoConfigurazione</property-name>
            <value>#{daoConfigurazione}</value>
        </managed-property>
        <managed-property>
            <property-name>utente</property-name>
            <value>#{utente}</value>
        </managed-property>
    </managed-bean>
    
    <!--                    persistenza                     -->
    <managed-bean>
        <managed-bean-name>daoConfigurazione</managed-bean-name>
        <managed-bean-class>it.unibas.freesbee.websla.persistenza.soap.DAOConfigurazioneSOAP</managed-bean-class>
        <managed-bean-scope>application</managed-bean-scope>
    </managed-bean>
    <managed-bean>
        <managed-bean-name>daoAutenticazione</managed-bean-name>
        <managed-bean-class>it.unibas.freesbee.websla.persistenza.soap.DAOAutenticazioneSOAP</managed-bean-class>
        <managed-bean-scope>application</managed-bean-scope>
    </managed-bean>
    <managed-bean>
        <managed-bean-name>daoSoggetto</managed-bean-name>
        <managed-bean-class>it.unibas.freesbee.websla.persistenza.soap.DAOSoggettoSOAP</managed-bean-class>
        <managed-bean-scope>application</managed-bean-scope>
    </managed-bean>
    <managed-bean>
        <managed-bean-name>daoServizio</managed-bean-name>
        <managed-bean-class>it.unibas.freesbee.websla.persistenza.soap.DAOServizioSOAP</managed-bean-class>
        <managed-bean-scope>application</managed-bean-scope>
    </managed-bean>
    <managed-bean>
        <managed-bean-name>daoServiceGuaranteeTermStateSOAP</managed-bean-name>
        <managed-bean-class>it.unibas.freesbee.websla.persistenza.soap.DAOServiceGuaranteeTermStateSOAP</managed-bean-class>
        <managed-bean-scope>application</managed-bean-scope>
    </managed-bean>
    <managed-bean>
        <managed-bean-name>daoMonitoraggio</managed-bean-name>
        <managed-bean-class>it.unibas.freesbee.websla.persistenza.soap.DAOMonitoraggioSOAP</managed-bean-class>
        <managed-bean-scope>application</managed-bean-scope>
    </managed-bean>
    <managed-bean>
        <managed-bean-name>daoStatistiche</managed-bean-name>
        <managed-bean-class>it.unibas.freesbee.websla.persistenza.soap.DAOStatisticheSOAP</managed-bean-class>
        <managed-bean-scope>application</managed-bean-scope>
    </managed-bean>
    
    <!--
    <lifecycle>
        <phase-listener>it.unibas.acijsfhibernate.controllo.PhaseListener</phase-listener>
    </lifecycle>
    -->
</faces-config>
